main {
  display: block;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0;
}
/* Specials */
.specialsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0 0 0;
}

.specialsContainer button {
  background-color: #333333;
  color: #edefee;
  height: 40px;
  font-weight: 600;
}

.specialsContainer button:hover {
  background-color: #f4ce14;
  color: #495e57;
}

/* Specials container */
.cardsContainer {
  display: grid;
  grid-template-columns:repeat(auto-fit, 265px);
  gap: 50px;
  justify-content: center;
  z-index: 1;
}

.card img {
  height: 185px;
  width: 265px;
  border-radius: 16px 16px 0 0;
}

.card {
  background-color: #495e57;
  border-radius: 16px;
  box-shadow: 1px 2px 10px 2px #5a5a5a;
  color: #f4ce14;
  transition: 0.3s;
}

.card p {
  padding: 0 20px;
  color: #edefee;
}
.card:hover{
  transform: scale(1.05);
}

.titleNprice {
  padding: 0 25px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: 0;
}

.price {
  color: #333333;
  font-weight: 600;
}

.orderDelivery {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #f4ce14;
}

.orderDelivery:hover{
  color: #edefee;
}
/* About */
.about {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 20px;
  background-color: #495e57;
}
.aboutLeft{
  background-color: #edefee;
  border-radius: 6px;
  box-shadow: 1px 2px 10px 2px #5a5a5a;
  padding: 20px;
  transition: 0.3s;
}

.aboutRight img {
  max-width: 300px;
}
.aboutImg, .aboutImg2{
  border-radius: 6px;
  box-shadow: 1px 2px 10px 2px #5a5a5a;
  transition: 0.3s;
  margin-bottom: 20px;
  z-index: -1;
}
.aboutImg:hover, .aboutImg2:hover{
  box-shadow: 3px 5px 10px 2px #7a993f;
  transform: translateX(20px)
}
.aboutLeft:hover{
  box-shadow: 3px 5px 10px 2px #7a993f;
  transform: translateY(-20px);
}