footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  flex-wrap: wrap;
  background-color: #EDEFEE;
}
.footerImg {
  max-width: 200px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 6px;
}

.dormantNavigation {
  display: inline-grid;
}
.socialMediaLinks {
  display: inline-grid;
}
.socialMediaLinks a:hover, .dormantNavigation a:hover{
  color: #f4ce14;
  background-color: #495e57;
  border-radius: 6px;
}