nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #edefee;
  box-shadow: 5px 5px 10px 2px #5a5a5a;
  z-index: 9999;
}
ul {
  display: inline-flex;
  list-style: none;
  padding: 0 20px;
}

li {
  text-align: center;
  margin: 0 20px;
  padding: 10px;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}

.navbar li:hover {
  color: #495e57;
}

.navbar li.active {
  color: #f4ce14;
}

@media only screen and (min-width: 993px){
  nav .fa-solid, button {
    display: none;
  }
  .navbar{
    display: flex;
  }
  button{
    border: none;
  }
  nav ul li a:hover{
    color: #f4ce14;
    width: 100%;
    background-color: #495e57;
    
    border-radius: 6px;
  }
}


@media only screen and (max-width: 992px) {
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav {
    justify-content: space-around;
  }
  nav ul {
    display: block;
    background: #7c7c7c48;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    padding-top: 33px;
    height: 100vh;
    z-index: 999;
    margin-top: 0;
  }
  nav ul li{
    width: 100%;
  }
  nav ul li a:hover{
    color: #f4ce14;
    width: 100%;
    background-color: #495e57;
    padding: 5px;
    border-radius: 6px;
  }
  .openMenuBtn, .closeMenuBtn{
    border: none;
  }
  .openMenuBtn:active, .closeMenuBtn:active{
    background-color: #f4ce14;
    color: #495e57;
  }
}
